<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="alacritty" />
  <package id="brave" />
  <package id="cmake" />
  <package id="fd" />
  <package id="fzf" />
  <package id="git" />
  <package id="github-desktop" />
  <package id="googlechrome" />
  <package id="make" />
  <package id="maven" />
  <package id="mingw" />
  <package id="mysql" />
  <package id="neovim" />
  <package id="nodejs" />
  <package id="oh-my-posh" />
  <package id="openjdk" />
  <package id="postman" />
  <package id="powershell-core" />
  <package id="python" />
  <package id="ripgrep" />
  <package id="sqlite" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="zig" />
</packages>
